#service{
overflow: hidden;

background: #FFFFFF;
box-shadow: 0px 0px 13px -3px #000100;
border-radius: 79px;
}

#service:hover{
  overflow-x: auto;
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
